*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body,html{
	height: 100%;
	font-family: sans-serif ;
	font-size: 10px;
  	overflow: hidden;
  	/*background-image:url(molebg.jpg);
  	background-repeat: no-repeat;
  	background-size: cover; */
  	background-color:black;
}
.container{
	max-width: 450px;
	width: 100%;
	margin: 0 auto;
	background-color: skyblue; 

}
.gameplay>div{
	display: flex;
	padding: 15px;
}
img{
	max-width:100%;
	width: 100%;
	height: auto;
	padding: 8%;
	margin-bottom: 10px;
}
.board{
	width:35%;
	height: auto;

	position: relative;
	margin:2%;
}
.hole{
	position:absolute;
	left: 0;
	bottom: -20px;

}
.moles{
	position: relative;
	z-index: 1;
	transform: scale(1,0);
}
.moles-active{
	transform: scale(1,1);
	transform-origin: bottom;
	transition:transform .5s linear;
}

.titlehead, .time, .sc ,.hideMoles,.hs{
	padding: 0.3em;
	letter-spacing: 1px;
	word-spacing: 1px;
	text-align: center;
}
button {
  padding: 12px 22px;
  margin-bottom:5%; 
  font-size: 18px;
  font-style: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color:red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;

}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 h2{
	display: inline;
	

}
.head{
	text-align: center;
	margin-top: 2%;
}
.head2{
	text-align: center;
	margin-top: 5%;
}
.timer{
	height: auto;
	width: auto;
	border-radius: 50%;
	background-color: white;
	padding: 5px;
	text-align: center;
	color: red;
}
.score{
	height:auto;
	width: auto;
	border-radius: 50%;
	background-color: white;
	padding: 5px;
	text-align: center;
	color: darkgreen;
}
.molenum{
	height:auto;
	width: auto;
	border-radius: 50%;
	background-color: white;
	padding: 5px;
	text-align: center;
	color: #eb3434;
}
.highsc{
	height:auto;
	width: auto;
	border-radius: 50%;
	background-color: white;
	padding: 5px;
	text-align: center;
	color:#3440eb;
}
